.leave-container{
    max-width: 500px;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    background:#f9f9f9;
}
h2{
    text-align: center;
}
form div{
    margin-bottom:15px ;
}
label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
input, select,textarea{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button{
    background:  rgb(238, 105, 127);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}
button:hover{
    background:rgb(180, 62, 82) ;
}