<div class="leave-container">
    <h2>Apply For Leave</h2>
    <form (ngSubmit)="onSubmit()">
      <div>
        <label>Select Type of leave</label>
        <select [(ngModel)]="leaveType" name="leaveType" required>
          <option value="">--select--</option>
          <option value="casual">Casual Leave</option>
          <option value="sick">Sick Leave</option>
          <option value="earned">Earned Leave</option>
          <option value="unpaid">Unpaid</option>
        </select>
      </div>
  
      <div>
        <label>Select Start Date</label>
        <input type="date" [(ngModel)]="startDate" name="startDate" required />
      </div>
  
      <div>
        <label>Select End Date</label>
        <input type="date" [(ngModel)]="endDate" name="endDate" required />
      </div>
  
      <div>
        <label>Reason</label>
        <textarea [(ngModel)]="reason" name="reason" placeholder="Enter Your Reason" required></textarea>
      </div>
  
      <div *ngIf="error" style="color:red">{{ error }}</div>
  
      <button type="submit">Apply</button>
    </form>
  </div>
  
