<div class="hod-container">
    <div class="logout">
      <button class="logout-btn" (click)="handleLogout()">Logout</button>
    </div>
  
    <div class="navbar">
      <header class="staff-header">HOD Dashboard</header>
      <h2>Welcome, {{ hodName || 'HOD' }}</h2>
    </div>
    <div><div class="hod-tabs">
        <button [class.active]="activeTab === 'pending'" (click)="changeTab('pending')">Pending</button>
        <button [class.active]="activeTab === 'Approved/Rejected'" (click)="changeTab('Approved/Rejected')">Approved/Rejected</button>
        <button [class.active]="activeTab === 'history'" (click)="changeTab('history')">History</button>
      </div></div>
    <div class="main-content">
        
      <div class="pending-box">
        <h3>{{ activeTabTitle }}</h3>
        <div class="req-list">
            <div *ngIf="leaveRequests.length > 0; else noRequests">
                <div *ngFor="let request of leaveRequests" class="request-item">
              
              <p><strong>{{ request.name }}</strong> - {{ request.reason }}</p>
              <p><strong>Status:</strong> {{ request.status }}</p>
              <p>
                <strong>Dates:</strong>
                {{ request.start_date | date: 'longDate' }} to
                {{ request.end_date | date: 'longDate' }}
              </p>
              <div class="action-btns" *ngIf="activeTab==='pending'">
                <button class="accept" (click)="handleLeaveAction(request, 'Approved')">Accept</button>
                <button class="reject" (click)="handleLeaveAction(request, 'Rejected')">Decline</button>
              </div>
            </div>
          </div>
          <ng-template #noRequests>
            <p>No requests</p>
          </ng-template>
        </div>
      </div>
    </div>
  
    <footer class="hod-footer">
      S+R <br />
      © 2024 Schopper Riegler - All Rights Reserved.
    </footer>
  </div>
  
