<div class="staff-container">
    <div class="logout">
      <button class="logout-btn" (click)="logout()">Logout</button>
    </div>
  
    <header class="staff-header"><strong>Welcome {{ userName }}</strong></header>
  
    <div class="staff-grid">
      <div>
        <div class="card check-status">
          <h3>Leaves left</h3>
          <ng-container *ngIf="leaves">
            <p>Casual Leaves: {{ leaves.casual || 0 }}</p>
            <p>Sick Leaves: {{ leaves.sick || 0 }}</p>
            <p>Earned Leaves: {{ leaves.earned || 0 }}</p>
            <p>Unpaid Leaves: {{ leaves.unpaid || 0 }}</p>
          </ng-container>
        </div>
  
        <div class="card check-status">
          <h3>Check Leave Status</h3>
          <button (click)="fetchLeaveStatus()">View Status</button>
          <p>{{ leaveStatus }}</p>
        </div>
  
        <div class="card leave-history">
          <h3>Leave History</h3>
          <button (click)="fetchLeaveHistory()">View History</button>
          <ul>
            <ng-container *ngIf="leaveHistory.length > 0; else noHistory">
              <div *ngFor="let leave of leaveHistory" class="leave-history-list">
                <p><strong>Start:</strong> {{ leave.start_date | date }}</p>
                <p><strong>End:</strong> {{ leave.end_date | date }}</p>
                <p><strong>Status:</strong> {{ leave.status }}</p>
              </div>
            </ng-container>
            <ng-template #noHistory>
              <li>No History Available</li>
            </ng-template>
          </ul>
        </div>
      </div>
  
      <div class="card-calender">
        <app-calender></app-calender>
        <button (click)="navigateToApplyLeave()">Apply Leave</button>
      </div>
    </div>
  
    <footer class="staff-footer">
      S+R <br />
      &copy; 2024 Schopper Riegler - All Rights Reserved.
    </footer>
  </div>
  